/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Righteous";
  src: local("Righteous"),
    url("/fonts/Righteous/Righteous-Regular.ttf");
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Roboto';

  --minimumSize: 8;
  --minimumSizePx: var(--minimumSize) * 1px;
  --maximumSize: 10;
  --minimumViewWidth: 356;
  --minimumViewWidthPx: var(--minimumViewWidth) * 1px;
  --maximumViewWidth: 1920;
  font-size: calc(var(--minimumSizePx) + (var(--maximumSize) - var(--minimumSize)) * ((100vw - var(--minimumViewWidthPx)) / (var(--maximumViewWidth) - var(--minimumViewWidth))));
}

h1 {
  font-size: 7.2rem;
  line-height: 7.2rem;
}

h2 {
  font-size: 5.4rem;
  line-height: 5.4rem;
}

h3 {
  font-size: 4.2rem;
  line-height: 4.2rem;
}

h4 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}

*.decorative {
  font-family: 'Righteous';
}

p, span {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
}

p.small {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

textarea {
  font-family: 'Roboto';
}
